/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Mochiy+Pop+P+One&display=swap');

/* Define CSS variables */
:root {
  --primary-color: #81b29a;
  --secondary-color: #f4f1de;
  --accent-color1: #3d405b;
  --accent-color2: #e07a5f;
}

.hero {
  position: relative;
  overflow: hidden;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1,
.hero article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #3d405b;
}

.hero article {
  background-color: #f4f1de;
  padding: 20px;
  max-width: 60%;
}

.hero article img {
  float: right;
}

/* General styles */
body {
  background-color: var(--secondary-color);
  font-family: "Exo 2", "Didot Serif", "Serif";
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

p {
  color: #3d405b;
  /* background-color: var(--accent-color1); */
}

/* Header styles */
header {
  background-color: #81b29a;
  padding: 20px;
  text-align: center;
}

header img {
  width: 120px;
  height: auto;
}

/* Navigation styles */
nav {
  display: flex;
  justify-content: center; /* Center align navigation links */
  margin-top: 10px; /* Adjust margin as needed */
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.logo img {
  margin: 0 0.25rem 0 1rem;
  width: 64px;
  height: auto;
}

h1, h2, h3 {
  font-size: 2rem;
  font-family: Acme, Arial, sans-serif;
  margin: 0;
  text-align: center;
}

nav {
  text-align: right;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation li {
  flex: 1 1 100%;
}

.navigation a {
  display: block;
  color: navy;
  padding: 20px;
  text-decoration: none;
}

.navigation a:hover {
  color: tomato;
  font-weight: 700;
  text-decoration: underline;
}

/* Main styles */
main {
  padding: 20px;
}

  /* Footer styles */
  footer {
    background-color: #e07a5f;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  footer nav a {
    margin: 0 5px;
  }
  
  footer nav img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

/* Adventure Images - Horizontal Layout */
section {
  display: flex; /* Removed unnecessary flex-direction */
}

.image {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.image img {
  width: 150px; /* Adjust image size */
  height: auto;
}

section h2 {
  text-align: center;
}
