/* Header styles */
header {
    background-color: #81b29a;
    padding: 20px;
    text-align: center;
  }
  
  header img {
    width: 120px;
    height: auto;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  /* Main styles */
  main {
    padding: 20px;
  }
  
  #hero {
    position: relative;
    overflow: hidden;
  }
  
  #hero img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  #hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f4f1de;
  }
  
  h1, h4 {
    color: #3d405b;
  }
  
  .book {
    background-color: #81b29a;
    color: #f4f1de;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .book:hover {
    background-color: #3d405b;
  }
  
  section {
    margin-top: 40px;
    text-align: center;
  }
  
  h2 {
    color: #3d405b;
  }
  
  p {
    color: #3d405b;
  }
  
  .join {
    background-color: #81b29a;
    color: #f4f1de;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .join:hover {
    background-color: #3d405b;
  }
  
  /* Footer styles */
  footer {
    background-color: #e07a5f;
    color: #f4f1de;
    text-align: center;
    padding: 20px;
  }
  
  footer nav a {
    margin: 0 5px;
  }
  
  footer nav img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  #hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f4f1de;
    background-color: #81b29a; /* Add background color here */
    padding: 20px; /* Add padding for better readability */
    border-radius: 10px; /* Optional: Add rounded corners */
  }